# Data Analysis Usecase

### Steps to guarantee beneficial analysis
There are multiple factors to take care of to ensure a better analytics pipeline for your data.

### Step 1: What Do you need to find out?
The first step is to consider what your goal is and what decision-making it will facilitate. What outcome from the analysis would you deem a success? These introductory data analysis questions are necessary to guide you through the process and help focus on key insights.

Examples for common analysis questions:
- What is a typical value?
- What is the uncertainty for a typical value?
- What is a good fit for a set of numbers?
- What are the percentiles of?
- Does a modification have an effect?
- Does a factor have an effect?
- What are the most important factors?
- Does the data have outliers?

### Step 2: Define the metrics to measure success of your goal

The Next step is to define what exact features will help in retrieving the answers you need. You explore the data available and understand what combinations of your data can answer the questions you have.
### Step 3: Define the steps to reach your goal
Some datasets need to be cleaned, preprocessed, or even modified critically in order to retrieve your analysis questions. The answers might not be mature enough without performing these steps.
An important step of analysis is preparing your data to ensure the quality of your findings.

### Step 4: Communicate your findings
A critical step is communicating your findings to all stakeholders. This includes non-technical parties in most cases. To be able to communicate your findings, you will need to:
Use the proper visualizations that are easy to understand and are the most suitable for a specific result.
You might use analytics software to produce reports and dashboards for these stakeholders.

 All life Bank)?

## Bank Loan Business Data

### Description:

Thera Bank is a US bank that has a growing customer base. The majority of these customers are liability customers (depositors) with varying sizes of deposits. The number of customers who are also borrowers (asset customers) is quite small, and the bank is interested in expanding this base rapidly to bring in more loan business and in the process, earn more through the interest on loans. In particular, the management wants to explore ways of converting its liability customers to personal loan customers (while retaining them as depositors).
A campaign that the bank ran last year for liability customers showed a healthy conversion rate of over 9% success. This has encouraged the retail marketing department to devise campaigns with better target marketing to increase the success ratio.

- ID: Customer ID
- Age: Customerâ€™s age in completed years
- Experience: #years of professional experience
- Income: Annual income of the customer (in thousand dollars)
- ZIP Code: Home Address ZIP code
- Family: the Family size of the customer
- CCAvg: Average spending on credit cards per month (in thousand dollars)
- Education: Education Level
- Mortgage: Value of house mortgage if any. (in thousand dollars)
- Personal_Loan: Did this customer accept the personal loan offered in the last campaign?
- Securities_Account: Does the customer have a securities account with the bank?
- CD_Account: Does the customer have a certificate of deposit (CD) account with the bank?
- Online: Do customers use internet banking facilities?
- CreditCard: Does the customer use a credit card issued by any other Bank (excluding All life Bank)?

https://www.kaggle.com/datasets/itsmesunil/bank-loan-modelling/download?datasetVersionNumber=1

In [1]:
# Ok - if I understand use case correctly, we are following along to learn and noting any of our thoughts/experiences
# So first importing libraries and viewing the columns info

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot
import seaborn as sns

In [7]:
df = pd.read_csv("Bank_Personal_Loan_Modelling.csv")
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [9]:
# Which shows us there are 14 total features - 8 int64 (numerical) 5 Float64 (numerical), 1 object (catagorical will need encoding if kept)
# I notice that in here they are being called attributes rather than features - are they both considered correct?

In [10]:
#Next we are viewing some of the statistical information for Age, CCAvg (credit card average?) and Income

In [11]:
df[["Age", "Income", "CCAvg"]].describe()

               Age       Income        CCAvg
count  5000.000000  5000.000000  5000.000000
mean     45.338400    73.774200     1.937938
std      11.463166    46.033729     1.747659
min      23.000000     8.000000     0.000000
25%      35.000000    39.000000     0.700000
50%      45.000000    64.000000     1.500000
75%      55.000000    98.000000     2.500000
max      67.000000   224.000000    10.000000

 Which gave the following information they noted

We can conclude:- 
The average age of 45 years with a deviation of 11 years.- 
The average income of 73,000$ with the maximum applicant with 224,000$ for income- .
75% of the customers have an income of less than 98,000- $.
Average credit card spending of 1900$.

In [12]:
# Next they suggest understanding behaviour of those who have previously applied for loans in order to target them, so filter for from a previous campaign.
# I see they are doing this by checking if the values are equal to 1 or "yes" so to speak and showing the statisctical for the ones who did

In [14]:
df[df["Personal Loan"]==1][["Age", "Income", "CCAvg"]].describe()

              Age      Income       CCAvg
count  480.000000  480.000000  480.000000
mean    45.066667  144.745833    3.905354
std     11.590964   31.584429    2.097681
min     26.000000   60.000000    0.000000
25%     35.000000  122.000000    2.600000
50%     45.000000  142.500000    3.800000
75%     55.000000  172.000000    5.347500
max     65.000000  203.000000   10.000000

In [15]:
# Next they mention Data cleaning, so checking for and dealing with missing values first

In [16]:
df.isna().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

Missing Values:
6 missing values in the age column.
5 missing values in income.
3 missing values in the family column.
1 missing value for a mortgage.

In [17]:
# so they are assuming that empty in features "Family" and "Mortgage" mean they do not have any or a value of Zero so are changing them to that

In [18]:
cols = ["Family", "Mortgage"]
for col in cols:
    df[col] = df[col].fillna(0)

df[["Family", "Mortgage"]].isna().sum()
#showing that is now fixed

Family      0
Mortgage    0
dtype: int64

In [19]:
# For age and Income they will you the mean value (average)

In [20]:
cols = ["Age", "Income"]
for col in cols:
    df[col] = df[col].fillna(df[col].mean())

df[["Age", "Income"]].isna().sum()
#showing these now fixed also

Age       0
Income    0
dtype: int64

In [21]:
# next they check for duplicate values, which they find 5 of and then remove.

In [22]:
sum(df.duplicated(subset = ['ID']))

0

In [24]:
df.drop_duplicates(subset = ['ID'], inplace = True)
sum(df.duplicated(subset = ['ID']))
#showing these now fixed

0

In [25]:
#next they are doing data prep by removing unneeded columns which they decided they don't need ID

In [26]:
df = df.drop(["ID"], axis=1)
df.head()

,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [27]:
# then they are viewing the Zip code Data

In [28]:
df_county = pd.read_csv("ZIP_County.csv") #which is a seperate  dataset it appears
df_county.head()

FileNotFoundError: [Errno 2] No such file or directory: 'ZIP_County.csv'

In [ ]:
#and then merge the county name to the original dataframe

In [ ]:
df = pd.merge(df, df_county, how="inner", on = "ZIP Code")
df.head()

In [ ]:
#then they remove negative values in the experience column

In [ ]:
print("Shape Before Filtration: ", df.shape)
df = df[df["Experience"]>0]
print("Shape After Filtration: ", df.shape)

In [ ]:
# and finally EDA on the numerical columns, with a histogram, box plot for outliers and violin plot for data distribution

In [ ]:
fig = plt.figure(figsize=(6,6))
pls.hist(df["Age"], color = "r")
plt.title("Age Histogram")
pls.xlabel("Age")
plt.ylabel("counts");

In [ ]:
fig = plt.figure(figsize=(6,6))
sns.boxplot(x = df["Age"])
plt.title("Age Box Plot")
pls.xlabel("Age")
plt.ylabel("Box Representation");

In [ ]:
fig = plt.figure(figsize=(6,6))
sns.violinplot(x = df["Age"])
plt.title("Age Violin Plot")
pls.xlabel("Age")
plt.ylabel("Distribution");

In [ ]:
# They next to EDA on the catagorical columns - Though i thought there was only the one?  However perhaps some of the float were considered catagorical?

In [ ]:
sns.countplot(x="Education", data = df);

In [ ]:
# only those who took a loan
sns.countplot(x="Education", data = df[df["Personal Loan"]==1]);

In [ ]:
# they next check the relationship with crosstab function which i don't recall us doing before so will be interesting to see

In [ ]:
pd.crosstab(df["Education"],df["Personal Loan"]).plot(kind="bar", figsize=(6,6))
plt.xlabel("Education")
plt.legend(["No Loan", "Loan"])
plt.ylabel("Number of Occurences")
plt.show();

In [ ]:
# and the relationship between features with a heatmap then Pairplot

In [ ]:
fig = plt.figure(figsize=(10,10))
sns.heatmap(df.corr(), annot = True);

In [ ]:
sns.pairplot(df[["Age", "Income", "Experience", "CCAvg"]]];

## and In summary they conclude

We conclude the direct strong relationship between age and experience.